<div class="container-sm align-items-md-stretch my-4">
  <div class="row justify-content-center align-items-center">
    <h3 class="fw-light">Acerca de...</h3>
    <hr>
    <div class="px-5 py-3">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 mb-4 mb-md-0 col-md-auto text-center">
            <img src="assets/images/intercambio.png" width="150px" alt="logo">
          </div>
          <div class="col text-center">
            <p><strong>Mercado de Divisas</strong> es una página web creada en <a href="https://angular.io/" target="_blank"
              rel="noopener noreferrer">Angular</a>
            y la API pública <a href="https://www.frankfurter.app/" target="_blank"
              rel="noopener noreferrer">Frankfurter</a>.</p>
          <p>Se trata de un proyecto para el módulo <strong>Desarrollo web en entorno cliente</strong> del Grado Superior de
            <strong>Desarrolo de aplicaciones Web</strong>, impartido en <a href="https://www.birt.eus" target="_blank" rel="noopener noreferrer">BIRT.eus</a>.</p>
          <p>Creado por Sergio Moreno (<a href="mailto:smoreno@birt.eus">smoreno&#64;birt.eus</a>) el 16 de mayo de 2024.</p>
          </div>
        </div>
      </div>
      <hr>
      <h4 class="fw-light">Otros recursos utilizados:</h4>
      <ul>
        <li><a href="https://mockapi.io/" target="_blank" rel="noopener noreferrer">MockAPI.io</a>: Para crear la API REST del libro de visitas.</li>
        <li><a href="https://getbootstrap.com" target="_blank" rel="noopener noreferrer">Bootstrap</a>: Framework para dar estilo a la página.</li>
        <li><a href="https://momentjs.com" target="_blank" rel="noopener noreferrer">Moment.js</a>: Librería JavaScript para la manipulación de las fechas.</li>
        <li><a href="https://www.chartjs.org" target="_blank" rel="noopener noreferrer">Chart.js</a>: Librería JavaScript para la creación de gráficos.</li>
        <li><a href="https://www.flaticon.es" target="_blank" rel="noopener noreferrer">Flaticons.es</a>: Descarga del logotipo.</li>
      </ul>
    </div>
  </div>
